{%- assign pageitem = include.page | default: page -%}
{%- assign page_date = nil -%}
{%- if pageitem.date != site.time -%}
  {%- assign page_date = pageitem.date -%}
{%- endif -%}

<div class="c-meta">

  {%- if page_date or pageitem.last_modified_at -%}
    {%- assign display_date = pageitem.last_modified_at | default: page_date -%}
    {%- assign year1 = site.time | date: "%Y" -%}
    {%- assign year2 = display_date | date: "%Y" -%}
    {%- capture full_date_format -%}{%- include localize key="date_format_long" default="%b %d, %Y %H:%M" -%}{%- endcapture -%}
    {%- if year1 == year2 or include.short_date -%}
      {%- capture display_date_format -%}{%- include localize key="date_format_short" default="%b %d %H:%M" -%}{%- endcapture -%}
    {%- else -%}
      {%- assign display_date_format = full_date_format -%}
    {%- endif -%}
    
    {%- if pageitem.last_modified_at -%}
      {%- assign modified_date = pageitem.last_modified_at | date: full_date_format -%}
      {%- assign tooltip = "" -%}
      {%- if page_date -%}
        {%- capture tooltip -%}
          {%- include localize key="date_published_tooltip" default="Published: :param1" param1=publish_date -%}
          &#10;
        {%- endcapture -%}
      {%- endif -%}
      {%- capture tooltip -%}
        {{- tooltip -}}
        {%- include localize key="date_modified_tooltip" default="Modified: :param1" param1=modified_date -%}
      {%- endcapture -%}
      {%- capture date_modified_tooltip -%}{%- endcapture -%}
      {%- capture date_modified_info -%}{%- include localize key="date_modified_info" default="(Modified)" -%}{%- endcapture -%}
      <time class="c-meta__item c-meta__item--time" datetime="{{- pageitem.last_modified_at | date_to_xmlschema -}}" title="{{- tooltip -}}">
        {{- pageitem.last_modified_at | date: display_date_format }}<small>{{- date_modified_info -}}</small>
      </time>
    {%- elsif page_date -%}
      {%- assign publish_date = page_date | date: full_date_format -%}
      {%- capture date_published_tooltip -%}{%- include localize key="date_published_tooltip" default="Published: :param1" param1=publish_date -%}{%- endcapture -%}
      <time class="c-meta__item c-meta__item--time" datetime="{{- page_date | date_to_xmlschema -}}" title="{{- date_published_tooltip -}}">
        {{- page_date | date: display_date_format -}}
      </time>
    {%- endif -%}
  {%- endif -%}

  {%- if include.authors and pageitem.author -%}
    <span class="c-meta__item c-meta__item--authors">{{- pageitem.author -}}</span>
  {%- endif -%}

  {%- if include.categories and pageitem.categories and pageitem.categories.size > 0 -%}
    <span class="c-meta__item c-meta__item--categories">
    {%- for category in pageitem.categories -%}
      <a href="{%- include functions/get_taxonomy_link.liquid category=category -%}">{{- category -}}</a>
    {%- endfor -%}
    </span>
  {%- endif -%}

  {%- if include.tags and pageitem.tags and pageitem.tags.size > 0 -%}
    <span class="c-meta__item c-meta__item--tags">
    {%- for tag in pageitem.tags -%}
      <a href="{%- include functions/get_taxonomy_link.liquid tag=tag -%}">{{- tag -}}</a>
    {%- endfor -%}
    </span>
  {%- endif -%}

  {%- if include.details -%}
    {%- if site.source_link and site.github -%}
      <span class="c-meta__item c-meta__item--source">
        <a href="{{- site.github.repository_url -}}/blob/{{- site.github.source.branch -}}/{{- pageitem.path -}}" target="_blank">Source</a>
      </span>
    {%- endif -%}

    {%- if pageitem.sticky -%}
      <span class="c-meta__item c-meta__item--sticky">
        {%- include localize key="tag_sticky" default="Sticky" -%}
      </span>
    {%- endif -%}

    {%- if pageitem.featured -%}
      <span class="c-meta__item c-meta__item--featured">
        {%- include localize key="tag_featured" default="Featured" -%}
      </span>
    {%- endif -%}
  {%- endif -%}

</div>
